.navigation {
    background:#e9e1cc;
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
}

.logo {
    color:#546ee5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float:left;
    margin-left: 35px;
}

.nav {
    list-style-type:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    float:right;
    margin: 30px;
    padding: 0px;
}
li {
    display:inline;
}
a {
    text-decoration:none;
    color:#546ee5;
    border-right: 1px solid #546ee5;
    padding: 10px;
}
a:hover {
    color:#f7d794;
    transition:.5s;
}

.nodisplay {
    border-right: none;
}